/.idea/
/.gradle/
/.gradle/*
/codebase.txt
/full_tree.sh
/vehicle-service/build/
/shop-service/build/
/web-client/build/
/.gradle/9.7.1/
/.gradle/buildOutputCleanup/
/.gradle/vcs-1/
.gradle/
build/
*/build/
**/build/
openapi.reference/
legacy/
/lab3-step1-prepare.sh
/lab3-step2a-vehicle-spring.sh
/gradle/
