<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="https://jakarta.ee/xml/ns/jakartaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                           https://jakarta.ee/xml/ns/jakartaee/beans_4_0.xsd"
       bean-discovery-mode="annotated"
       version="4.0">
    <scan>
        <exclude name="com.netflix.**"/>
        <exclude name="org.springframework.**"/>
        <exclude name="com.sun.**"/>
        <exclude name="org.glassfish.**"/>
        <exclude name="fish.payara.**"/>
        <exclude name="org.jboss.**"/>
    </scan>
</beans>
